/*
code by Aditya Gupta
For Contact Mail me on => ad1123itya@gmail.com
Find me on instagram _its._.aadi
*/

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

html,body {
height: 100%;
width: 100%;
}
